*,
html{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./src/font/Montserrat-Bold.ttf');
}
:root {
    --primary-color: #00ace6;
    --active-color: white;
    --active-color-bg: rgb(19, 46, 82);
    --font-color: #222;
    --bg-color: #E9F1FA;
    --home-color: #00ace6;
    --nav-bg-color: #00ace6;
    --nav-bg-color2: #E9F1FA;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}
[data-theme="dark"] {
    --active-color: #222;
    --active-color-bg: #00ace6;
    --font-color: #fff;
    --bg-color: rgb(19, 46, 82);
    --nav-bg-color2: rgb(19, 46, 82);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
body {
    color: var(--font-color);
    background-color: var(--bg-color);
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    cursor: progress;
}

button {
    color: var(--font-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

/* NAVIGATION BAR */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px;
    width: auto;
    height: 50px;
    background-color: var(--nav-bg-color);
    z-index: 1;
}

.brand {
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-size: 1.1em;
    letter-spacing: 3px;
    color: rgb(19, 46, 82);
    font-weight: bolder;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style-type: none;
    padding: 10px;
}
.navigation>li>a {
    color: #222;
    font-size: 15px;
    text-decoration: none;
}
.navigation>li>a:hover {
    color: white;
    background-color: rgb(19, 46, 82);
    transition: all .3s ease-in-out;
    border-radius: 8px;
    padding: 10px;
}
.navigation>li .active {
    background-color: rgb(19, 46, 82);
    color: white;
    border-radius: 8px;
    padding: 10px;
}
.switch-responsive {
    display: none;
}
/* INTRO content*/
/* .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
} */
.home {
    overflow: hidden;
    background-color: var(--home-color);
    color: #222;
}
.home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: center;
    text-transform: capitalize;
    gap: 10px;
}
.home-container p{
    margin-left: 50px;
}
.title {
    font-size: 200%;
    font-weight: bold;
}
.description {
    font-size: 20px;
    font-weight: bold;
}
.img-home {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 210px;
    cursor: pointer;
}

.section-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 32px;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 40px;
    height: .18rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
}

.about h2 {
    padding: 5px;
    position: relative;
}
.about-container {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    grid-column-gap: 2rem;
    text-transform: capitalize;
    /* align-items: center; */
}
.about-title, .about-desc{
    margin-top: 15px;
}
.about-text {
    font-size: 15px;
    margin-top: 30px;
}
.img-profile {
    display: flex;
    justify-content: center;
    margin-left:50px;
    margin-right:125px;
    width: 220px;
}
.about-title {
    font-size: 30px;
    font-weight: bold;
}
.about-desc {
    font-size: 18px;
    font-weight: lighter;
}
.social {
    margin-top: 10px;
}
.social a {
    font-size: 1.5em;
    color: var(--font-color);
}
/* .contact, .btn-wa {
    color: #222;
    margin-top: 10px;
} */
.contact h2 {
    padding: 5px;
    position: relative;
}
.contact-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    line-height: 2.0;
}
.contact-container h3 span{
    color: var(--primary-color);
}

.project h2{
    padding: 5px;
    position: relative;
}
.project-container {
    display: flex;
    max-width: 84%;
    height: auto;
    color: #222;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.project-wrapper {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    /* grid-template-columns: auto auto auto; */
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
}
.list {
    position: relative;
    width: 92%;
    height: 250px;
    border-radius: 8px;
    padding: 15px;
    background-color: #00ace6;
}
.repo-title {
    display: flex;
    font-size: 15px;
}
.repo-title h3 {
    margin-top: 12px;
    margin-left: 10px;
}
.github-picture {
    width: 50px;
    border-radius: 50%;
}
.language {
    display: inline-flex;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 100px;
    background-color: rgb(19, 46, 82);
}
.description {
    margin-top: 10px;
    font-size: 15px;
}
.github {
    position: absolute;
    bottom: 15px;
    padding: 8px;
    color: white;
    background-color: rgb(19, 46, 82);
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.github-url {
    color: white;
    text-decoration: none;
    border-radius: 100px;
}
.github:hover {
    transition: .3s ease-in-out;
    background-color: rgb(64, 85, 112);
}

.footer {
    display: flex;
    padding: 20px;
    justify-content: center;
    color: var(--font-color);
    width: auto;
    bottom: 0;
}

/* DARK MODE */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;

}
input:checked+.slider {
    background-color: #3D2C8D;
}
input:focus+.slider {
    box-shadow: 0 0 1px #3D2C8D;
}
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@media screen and (max-width: 1020px){
    .about-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        height: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-title {
        font-size: 25px;
    }
    .about-desc {
        font-size: 18px;
    }
    .img-profile{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 150px;
    }
    .project-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 42% 42%;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .list {
        width: 92%;
        height: 250px;
        border-radius: 8px;
        padding: 15px;
        background-color: #00ace6;
    }
    .contact-container{
        max-width: 80%;
    }
}
@media screen and (max-width: 1456px){
    .img-profile {
        display: flex;
    }
    
}
@media screen and (max-width: 710px) {
    .switch {
        display: none;
    }
    .navigation>li:nth-child(5) {
        display: none;
    }
    .navigation {
        background-color: var(--nav-bg-color2);
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .navigation>li {
        padding: 8px;
    }
    .navigation>li>a {
        color: var(--font-color);
    }
    .navigation>li .active {
        background-color: var(--active-color-bg);
        color: var(--active-color);
        border-radius: 8px;
        padding: 8px;
    }
    .navigation>li>a:hover {
        background-color: var(--active-color-bg);
        color: var(--active-color);
        transition: none;
    }
    .switch-responsive {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
    }
    .switch-responsive input, .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .brand {
        padding: 5px;
        /* margin: 0 auto; */
        font-size: 18px;
    }
}
@media screen and (max-width: 920px) {
    /* .img-home {
        width: 210px;
    } */
    .home-container p{
        margin-left: 0;
    }
    .home-container{
        justify-content: flex-start;
        max-width: 80%;
        height: 630px;
        margin-left: 20px;
        top: 0%;
    }
    .project-wrapper {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 500px) and (min-width: 350px){
    .img-home{
        width: 210px;
        right: 8%;
    }
    .wrapper {
        height: 26px;
    }
    .footer {
        margin-bottom: 53px;
    }
}
@media screen and (max-width: 350px) { 
    .img-home{
        width: 65%;
        left: 24%;
    }
}
